<div id="#<%= nav.name.downcase.gsub(/ /,'_') %>" class="category">
	<h2><%= project.name %></h2>
	<p><%= project.description %></p>
	<ul>
	<% project.people.each do |person| %>
		<li><%= person.fname + person.lname %></li>
	<% end %>
	</ul>
</div>

