/* @override http://localhost:3000/stylesheets/custom.css?1303794397 */

@font-face { font-family: TitlingGothicBold; src: url('fonts/TitlingGothicFBCondBold.otf'); } 

@font-face { font-family: TitlingGothicMedium; src: url('fonts/TitlingGothicFBCompMedium.otf'); } 

/* Page Style */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a {
	color: rgb(150,150,150);
	text-decoration: none;
}

a:hover {
	color: black;
}

a img {
	border: none;
}

h1, h2, h3, h1 a {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.clear {
	height: 0;
	display: block;
	clear: both;
}

#container {
	width:auto;
	/* max-width:2000px; */
}

header .logo {
	margin: 0px;
	/*margin-top: -14px;*/
	padding: 0px;
	margin-right: 0px;
	float: left;
	z-index: 10000;
}

header .hack {
	background-image: url("../images/general/headerbg.png");
	background-repeat: repeat-x;
	width: 191px;
	height: 101px;
	float:left;
	/*margin-top: -14px;*/
	margin-right: -1px;
}

body {
	width: auto;
	height: 100%;
	position: absolute;
}

header {
	height: 101px;
	/*padding-top: 14px;*/
	/*padding-left: 190px; */
	width: 100%;
	position: fixed;
	top: 24px;
	z-index: 9999;
}

header a {
	color: #333333;
	font-size: .75em;
	text-decoration: none;
}

header a:hover {
	font-weight: bold;
}

nav#main {
	position: fixed;
	left: 280px;
	top:24px;
	padding-left: 55px;
	background-image: url("../images/general/headerbg.png");
	background-repeat: repeat-x;
	height: 101px;
	/*margin-top: -14px;*/
	overflow: hidden;
	width:100%;
	min-width:1000px;
}

nav#main ul li, nav#main ul li a {
	float: left;
	width: 130px;
	margin-right: 12px;
	list-style-type: none;
}

nav#main ul li a {
	border-top: solid 1px black;
	padding-top: 10px;
	margin-top: 39px;
}

nav#main ul li a:hover {
	border-top: solid 5px;
	padding-top: 5px;
	border-color: black;
	font-weight:bold;
}

.prevnext {
	font-size: 10px;
}

header nav#subnav {
	position: fixed;
	top: 176px;
	left: 36px;
}

nav#subnav .subnav-phrase, nav#subnav img {
	margin-bottom: 30px;	
}

header nav#subnav ul li {
	margin-bottom: 10px;
}

header nav#subnav ul li a {
	color: rgb(150,150,150);
}

header nav#subnav ul li a.current {
	list-style-position: outside;
	list-style-image: url(../images/general/xpmenu_arrow.gif);
}

header nav#subnav ul li:hover {
	list-style-position: outside;
	list-style-image: url(../images/general/xpmenu_arrow.gif);
}

header nav#subnav ul li:hover a {
	color: black;
	font-weight:normal;
}

#third_nav li {
	border-top: 1px solid #fff700;
	margin-top: 30px;
	padding-top:10px;
}

#content {
	height: 100%;
	margin-top: 0px;
	margin-left: 190px;
	margin-right: 20px;
	margin-bottom: 40px;
	position: relative;
}

.work {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	position: relative;
}

.work:hover img {
	border-bottom: 2px solid black;
	margin-bottom: -2px;
}
.work:hover a {
	color: black;
}

.work h4 {
	font-size: .7em;
}

.category, .project {
	clear: both;
	display: block;
	padding-top: 237px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff700;
	margin-bottom: -100px;
}

h2 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;	
}

h2#person_name {
	font-size: .9em;
	/*font-family: "Georgia";
	font-weight: bold; */
}

#home {
	height: 100%;
}

#home h3 {
	font-size: 4em;
}

#person_info, #subnav {
	position: fixed;
	width: 130px;
	top: 160px;
	left: 20px;
}


h2#person_name {
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #fff700;
	border-bottom: 1px solid #fff700;
}

h4.person_name {
	background: rgba(255,255,255, 0.8);
	position: relative;
	margin-top: 0;
	font-weight: normal;
	/*margin-bottom: 20px;
	width: 100%;
	height: 22px;
	line-height: 22px;
	z-index: 999; */
}
h4.person_name li a {
	/*padding-left: 10px;*/
	z-index: 999;
	text-decoration: none;
	color: rgb(150,150,150);
}
/*
h4.person_name:hover {
	background: rgba(255,255,0,1);
} */
#person_image {
	margin-top: 30px;
}

p.person_contact a {
	font-size:10px;
}

#person_about {
	font-family: "Georgia";
	font-weight: bold;
	font-style: italic;
	width: 560px;
	height: 220px;
	padding-top: 235px;
	margin-bottom: -220px;
	font-size: 1.3em;
	line-height: 1.3em;
}

.description {
	font-size: 11px;
	line-height: 14px;
	width: 560px;
	margin-bottom: 20px;
}

h3.subhead {
	padding-top: 160px;
	font-size: 2em;
	font-style: italic;
	font-family: Georgia, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h2.focalpoint {
	font-size: 12em;
	color: #fff700;
	text-transform: uppercase;
	padding-top: 40px;
	line-height: 160px;
	font-family: "TitlingGothicMedium", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #fff700;
}

img#theshowtitles {
position:absolute;
}

img#theshowline{
margin-bottom:60px;
}

img#seeyou{
position:fixed;
left: 54px;
}

#show_info {
	padding-top: 238px;
}


h5.info{
	font-size:13px;
	text-transform: uppercase;
	font-weight:bold;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom:5px;

}

img.arrow {
	margin-left:-40px;
	float:left;
}

.showinfo{
	position:relative;
	left: 428px;
	width: 350px;
	font-weight: normal;
	font-size: 13px;
	margin-bottom: 100px;
}

.showinfo .column {
	float:left;
	margin-right:50px;
}

.showinfo ul{
	padding-bottom:15px;
}

.showinfo li {
	font-size:10px;
}
.showinfo li.title {
	margin-bottom: 3px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.showfollow {
	font-size: 10px;
	position: fixed;
	bottom: 56px;
	right: 50px;
}

.showfollow img {
	vertical-align: middle;

}

.showfollow h5 {
	text-transform: uppercase;
	font-weight: bold;

}

.designinfo p#program {
	font-family: georgia, times, serif;
	font-weight: bold;
	font-style: italic;
	width: 700px;
	margin-bottom: 60px;
	font-size: 1.3em;
	line-height: 1.3em;
}

.designinfo img {
	margin-bottom: 60px;
	clear:left;
}

.designinfo #columncontainer {
	margin-bottom: 50px;
}

.designinfo ul {
	font-family: helvetica, arial, sans-serif;
	font-size:12px;
	width: 335px;
	margin-bottom:35px;
}

.designinfo li.title {
	text-transform: uppercase;
	font-size:18px;
	font-weight:bold;
	margin-bottom: 5px;
}

.designinfo .column {
	float:left;
	margin-right:30px;
}

.facultyinfo img {
	float:left;
}

.facultyinfo #profiles{
	font-family:helvetica, arial, verdana;
	padding-left: 40px;
	float:left;
	font-size: 10px;
	width: 300px;
}

.facultyinfo #profiles .titles{
	text-transform:uppercase;
}

#profiles h5 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 4px;

}

#bottom {
	float: left;
	clear: both;
	margin-top: 30px;
	margin-bottom: 20px;
	height: 50px;
}

#bottom a {
	font-size: 10px;
}

/* Bounding Box */
.yui3-scrollview {
    position: relative; /* To provide positioning context */ 
    overflow: hidden;   /* To clip scrolled content */
    ...
}
 
/* Content Box */
.yui3-scrollview-content {
    position:relative; /* To allow positioning */
}

.yui3-js-enabled .yui3-scrollview-loading {
    visibility:hidden;
}