/* @override http://localhost:3000/stylesheets/custom.css?1303794397 */

@font-face { font-family: TitlingGothicBold; src: url('fonts/TitlingGothicFBCondBold.otf'); } 

@font-face { font-family: TitlingGothicMedium; src: url('fonts/TitlingGothicFBCompMedium.otf'); } 

/* Page Style */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a img {
	border: none;
}

h1, h2, h3, h1 a {
	font-family: "TitlingGothicBold", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.clear {
	height: 0;
	display: block;
	clear: both;
}

#container {
	width:auto;
	/* max-width:2000px; */
}

header .logo {
	margin: 0px;
	/*margin-top: -14px;*/
	padding: 0px;
	margin-right: 0px;
	float: left;
	z-index: 10000;
}

header .hack {
	background-image: url("../images/general/headerbg.png");
	background-repeat: repeat-x;
	width: 191px;
	height: 101px;
	float:left;
	/*margin-top: -14px;*/
	margin-right: -1px;
}

body {
	width: auto;
	height: 100%;
	position: absolute;
}

header {
	height: 101px;
	/*padding-top: 14px;*/
	/*padding-left: 190px; */
	width: 100%;
	position: fixed;
	top: 24px;
	z-index: 9999;
}

header a {
	color: #333333;
	font-size: .75em;
	text-decoration: none;
}

header a:hover {
	font-weight: bold;
}

nav#main {
	position: fixed;
	left: 280px;
	top:24px;
	padding-left: 55px;
	background-image: url("../images/general/headerbg.png");
	background-repeat: repeat-x;
	height: 101px;
	/*margin-top: -14px;*/
	overflow: hidden;
	width:100%;
	min-width:1000px;
}

nav#main ul li, nav#main ul li a {
	float: left;
	width: 130px;
	margin-right: 12px;
	list-style-type: none;
}

nav#main ul li a {
	border-top: solid 1px black;
	padding-top: 10px;
	margin-top: 39px;
}

nav#main ul li a:hover {
	border-top: solid 5px;
	padding-top: 5px;
	border-color: black;
	font-weight:bold;
}

header nav#subnav {
	position: fixed;
	top: 176px;
	left: 36px;
}

nav#subnav .subnav-phrase, nav#subnav img {
	margin-bottom: 30px;	
}

header nav#subnav ul li {
	margin-bottom: 10px;
}

header nav#subnav ul li a {
	color: rgb(150,150,150);
}

header nav#subnav ul li a.current {
	list-style-position: outside;
	list-style-image: url(../images/general/xpmenu_arrow.gif);
}

header nav#subnav ul li:hover {
	list-style-position: outside;
	list-style-image: url(../images/general/xpmenu_arrow.gif);
}

header nav#subnav ul li:hover a {
	color: black;
	font-weight:normal;
	list-style-position: outside;
	list-style-image: url(cat.jpg);
}

#content {
	height: 100%;
	margin-top: 0px;
	margin-left: 190px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.work {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	position: relative;
}

.work h4 {
	font-size: .7em;
}

.category, .project {
	clear: both;
	display: block;
	padding-top: 180px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff700;
}

h2 {
	margin-bottom: 10px;
	letter-spacing: 0.4em;
	font-weight: normal;
	font-size: .8em;
	text-transform: uppercase;	
}

#home {
	height: 100%;
}

#home h3 {
	font-size: 4em;
}

#person_info, #subnav {
	position: fixed;
	width: 130px;
	top: 160px;
	left: 20px;
}

h2#person_name {
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #fff700;
	border-bottom: 1px solid #fff700;
}

h4.person_name {
	background: rgba(255,255,255, 0.8);
	position: relative;
	margin-top: 0;
	/*margin-bottom: 20px;
	width: 100%;
	height: 22px;
	line-height: 22px;
	z-index: 999; */
}
h4.person_name li a {
	/*padding-left: 10px;*/
	z-index: 999;
	text-decoration: none;
	color: rgb(150,150,150);
}
/*
h4.person_name:hover {
	background: rgba(255,255,0,1);
} */
#person_image {
	margin-top: 30px;
}

#person_contact {
	margin-top: 20px;
	margin-bottom: 20px;
}

#person_about {
	padding-top: 160px;
	padding-bottom: 20px;
	font-size: 2em;
}

.description {
	margin-bottom: 20px;
}

h3.subhead {
	padding-top: 160px;
	font-size: 2em;
	font-style: italic;
	font-family: Georgia, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h2.focalpoint {
	font-size: 12em;
	color: #fff700;
	text-transform: uppercase;
	padding-top: 40px;
	line-height: 160px;
	font-family: "TitlingGothicMedium", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #fff700;
}

#bottom {
	float:left;
	clear:both;
	margin-top: 30px;
	margin-bottom: 20px;
	height: 50px;
}
