<div id="all" class="show_information">
	<div class="showfollow">
		<h5>FOLLOW US.</h5>
		<div class="icon_link"><a href="http://www.facebook.com/pages/UW-Design-Show-2011/210601918959933"><img src="../images/general/facebook.gif" alt="Follow Us on Facebook">Facebook</a></div>
		<div class="icon_link"><a href="http://www.twitter.com/uwdesign"><img src="../images/general/twitter.gif" alt="Follow Us on Twitter">Twitter</a></div>
	</div>	
	

	<div class="designinfo">
		<img src="../images/general/aboutuwdesign.gif" id="aboutdesign" alt="About UW Design"/><br>
		<p id="program">Within the UW Division of Design there are three majors—Visual Communication Design, Industrial Design and Design Studies—as well as a series of courses in Interaction Design. The division educates and trains designers to create and develop concepts that optimize the function, value, and appearance of communications, products and systems.</p>
		<div id="columncontainer">
			<div class="column">
				<ul>
					<li class="title">Visual Communication Design</li>
					<li>Educates and trains designers for the communication needs of industry and society. Students integrate methodology, aesthetics, technology, materials and audience to develop strategies and solutions. These take the form of print, screen and the built environment.</li>
				</ul>
				<ul>
					<li class="title">Design Studies</li>
					<li>Examines design within a multi-disciplinary context. Coursework includes design theory, methodology and case studies, and culminates in a two-course capstone project. Students combine a cross-disciplinary perspective with research, writing and a high level of visual literacy.</li>
				</ul>
				<ul>
					<li class="title">Industrial Design</li>
					<li>Makes innovative concepts tangible in the form of products. These take the form of tools, environments or services that are meaningful and useful for society. Observation skills, technical knowledge, and human factors principles all form part of a rich and systematic design process.</li>
				</ul>
			</div>
			<div class="column">
				<ul>
					<li class="title">Master of Fine Arts</li>
					<li>Program is a two-year course leading to a masters degree in industrial design, visual communication design and interaction design. In a cross-disciplinary environment students develop their conceptual skills, experimenting with media and conducting personal design investigation on an advanced level.</li>
				</ul>
				<ul>
					<li class="title">Interaction Design</li>
					<li>Courses are taken by students across the Division of Design, and address the interactions between people and technology. Central themes are the role of dynamic visualizations, the different views shared by prospective users, and the simulation and testing of design concepts.</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<img src="../images/general/yellowline.gif" alt="Border Line"/><br>
		<img src="../images/general/designfaculty.gif" alt="Design Faculty"/>
		<div class="facultyinfo">			
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/1.jpg" class="facultypictures" alt="Sang-gyeun Ahn">
				<div class="profiles_text">
					<h5>Sang-gyeun Ahn</h5>
					<p>Assistant Professor Sang-Gyeun Ahn joined the Division of Design in 2006. He received his Master of Fine Art degree from University of Illinois at Urbana-Champaign. Before joining the faculty at UW, he taught in the department of Industrial Design at Auburn University and worked on projects with several companies including: The Korean Institute of Design Promotion, Samsung, LG, and Ricoh, Propane Design Group.</p>
				</div>
			</div>
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/2.jpg" class="facultypictures" alt="Karen Cheng">
				<div class="profiles_text">
					<h5>Karen Cheng</h5>
					<p>Associate Professor Karen Cheng received her Master's Degree from the University of Cincinnati College of Design, Art, Architecture and Planning. Prior to joining the faculty at the University of Washington in 1997, she worked in Brand Management at the Procter and Gamble Company and studied engineering at Penn State University.</p>
				</div>
			</div>
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/3.jpg" class="facultypictures" alt="Magnus Feil">
				<div class="profiles_text">
					<h5>Magnus Feil</h5>
					<p>He received his MFA in Industrial Design from The Ohio State University and a Diplom (FH) from Fachhochschule für Gestaltung, Schwäbisch Gmünd, Germany. He came to the United States as a Fulbright scholar in 2000. His research interests are product design in aviation and medicine; product interaction: control of views, vehicles and robotic platforms, and aspects that guide form in industrial and interaction design.</p>
				</div>
			</div>
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/4.jpg" class="facultypictures" alt="Annabelle Gould">
				<div class="profiles_text">
					<h5>Annabelle Gould</h5>
					<p>Assistant Professor Annabelle Gould joined the Division of Design in Fall 2003. She received her Master's Degree from the Cranbrook Academy of Art. Prior to joining the faculty at the University of Washington, Annabelle operated her own design practice in Los Angeles, specializing in both print and interactive communications for a diverse client base, including the BMW Group Designworks USA, Lead Pencil Studios, Digital Kitchen and Chronicle Books. She has been an adjunct instructor at the Art Center College of Design and Otis College of Art and Design. </p>
				</div>
			</div>
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/5.jpg" class="facultypictures" alt="Kristine Matthews">
				<div class="profiles_text">
					<h5>Kristine Matthews</h5>
					<p>Kristine Matthews joined the Design faculty in the Winter of 2008. Kristine is a partner in thomas.matthews, a multi-disciplinary practice specializing in the sustainable design of exhibitions, print, interaction and consultation. Kristine founded the studio in London with Sophie Thomas, a fellow Royal College of Art graduate. Clients include the British Council, the National Maritime Museum, Hong Kong Wetland Park, the Victoria & Albert Museum and the UK Architecture Foundation.</p>
				</div>
			</div>
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/6.jpg" class="facultypictures" alt="Dominic Muren">
				<div class="profiles_text">
					<h5>Dominic Muren</h5>
					<p>Lecturer Dominic Muren received a BS in Mechanical Engineering from Carnegie Mellon University in Pittsburgh, PA, and a Master's Degree in Industrial Design from the University of the Arts in Philadelphia. He has worked as a toy inventor at Meyer/Glass Design, architectural systems researcher at Kieran Timberlake Associates, and most recently, as product designer at Michael Graves Design Group. He has also written extensively on design and how it relates to society, both online as a writer for Treehugger.com, and on the weblog IDFuel.com, which he founded.</p>
				</div>
			</div>			
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/7.jpg" class="facultypictures" alt="Chris Ozubko">
				<div class="profiles_text">
					<h5>Chris Ozubko</h5>
					<p>Professor Christopher Ozubko received his Master's Degree at the Cranbrook Academy of Art. His atelier, Studio Ozubko, has garnered over one hundred regional, national and international awards; his work has been published in all major design magazines and exhibited in Bulgaria, Canada, China, Czechoslovakia, Finland, France, Germany, Japan, Poland and the United States. Christopher is a past president of Seattle chapter of the AIGA, and the current director of the School of Art. </p>
				</div>
			</div>
			<div class="profiles">
				<img src="https://s3.amazonaws.com/uwdesign2011/images/content/people/faculty/8.jpg" class="facultypictures" alt="Axel Roesler">
				<div class="profiles_text">
					<h5>Axel Roesler</h5>
					<p>Assistant Professor Axel Roesler received his Ph.D. in Cognitive Systems Engineering with a specialization in Human-centered Design from The Ohio State University. He also holds an M.F.A in Industrial Design from The Ohio State University and a Diplom in Industrial Design (equivalent to M.A.) from Burg Giebichenstein, Hochschule für Kunst und Design (University of Art and Design) in Halle, Germany. He came to the United States as a Fulbright Scholar in 1998.</p>
				</div>
			</div>
		</div>
	</div>
</div>