<div id="show_info">
	<div class="showfollow">
		<h5>FOLLOW US.</h5>
		<br />
		<img src="../images/general/facebook.gif"> <a href="">Facebook</a><br />
		<img src="../images/general/twitter.gif"> <a href="">Twitter</a>
	</div> <!-- end .showfollow -->
	
	<img src="../images/general/theshowBFA.gif" id="theshowtitles">
	<br />
	
	<div class="showinfo">
		<img src="../images/general/arrows/arrow1.gif" class="arrow" />
		<h5 class="info">8–18 JUNE</h5>
		<p>School of Art</p>
		<p>University of Washington</p>
		<p>Jacob Lawrence Gallery</p>
		<p>Wednesday–Saturday, 12–4pm</p>
		<br />
		<br />
		<img src="../images/general/arrows/arrow2.gif" class="arrow" /><h5 class="info">PROFESSIONAL NIGHT</h5>
		<p>Tuesday 7 June, 5–8pm</p>
		<br />
		<br />
		<img src="../images/general/arrows/arrow3.gif" class="arrow" />
		<h5 class="info">FRIENDS AND FAMILY NIGHT</h5>
		<p>Wednesday 8 June, 5–8pm</p></div>
		<img src="../images/general/yellowline.gif" id="theshowline">
		<br />
		<img src="../images/general/theshowMFA.gif" id="theshowtitles">
	</div> <!-- end .showinfo -->
	
	<div class="showinfo">
		<img src="../images/general/arrows/arrow4.gif" class="arrow" /><h5 class="info">28 MAY–19 JUNE</h5>
		<p>Henry Art Gallery</p>
		<p>University of Washington</p>
		<p>Opening Reception : </p>
		<p>Friday 28 May, 7pm</p>
		<br />
		<br />
		<img src="../images/general/arrows/arrow5.gif" class="arrow" />
		<h5 class="info">THESIS PRESENTATIONS</h5>
		<p>School of Art, Room 247</p>
		<p>University of Washington</p>
		<p>Tuesday 8 June, 1–5pm</p>
		<br />
		<br />
		<img src="../images/general/arrows/arrow6.gif" class="arrow" /><h5 class="info">MFA SPECIAL PREVIEW</h5>
		<p>Friday 28 May, 7pm</p>
		<p>Early entry at 6:15pm;</p>
		<p>register at www.uwalum.com</p>
	</div> <!-- end .showinfo -->
	
	<img src="../images/general/yellowline.gif" id="theshowline" /><br />
	<img src="../images/general/theshowcredits.gif" id="theshowtitles" />
	
	<div class="showinfo">
		<img src="../images/general/arrows/arrow7.gif" class="arrow" />
		
		<div class="column">
			<ul>
				<li class="title">IDENTITY</li>
				<li>Jessica Katona</li>
				<li>Brenna Marketello</li>
			</ul>
			<ul>
				<li class="title">ENVIRONMENTAL</li>
				<li>Abbey Carlstrom</li>
				<li>Derek Chan</li>
				<li>Andrea Drake</li>
				<li>Jessica Katona</li>
				<li>Brenna Marketello</li>
				<li>Nick Myette</li>
				<li>Brittany Truex</li>
			</ul>
			<ul>
				<li class="title">LOGISTICS & DATA</li>
				<li>Kelsey Cole</li>
				<li>Tony Tran</li>
				<li>Rachel Wan</li>
			</ul>
			<ul>
				<li class="title">MULTIMEDIA</li>
				<li>Ruth Arellano</li>
				<li>James Davidson</li>
				<li>Nicole Ramirez</li>
			</ul>
		</div> <!-- end .column -->
		
		<div class="column">
			<ul>
				<li class="title">WEBSITE</li>
				<li>Erica Coombs</li>
				<li>Leslie Ferguson</li>
				<li>Jeremy Juel</li>
				<li>Lola Migas</li>
				<li>Sophie Milton</li>
				<li>Sara Sheridan</li>
				<li>Carolyn Schuetz</li>
			</ul>
			<ul>
				<li class="title">PHOTOGRAPHY</li>
				<li>Erica Coombs</li>
			</ul>
			<ul>
				<li class="title">DESIGN DIVISION<br>REPRESENTATIVES</li>
				<li>DS: Lauren Cascio</li>
				<li>ID: Imri Larsen & Vu Chu</li>
				<li>VCD: Nicole Ramirez & <br>James Davidson</li>
				<li>MFA: Shweta Grampurohit</li>
			</ul>
			<ul>
				<li class="title">ADVISOR</li>
				<li>Kristine Matthews</li>
			</ul>
		</div> <!-- end .column -->
		
	</div> <!-- end .showinfo -->
	
</div> <!-- end #showinfo -->