	<div class="work">
		<% project.people.each do |person| %>
			<% @pageuri = person.id %>
		<% end %>
		
		<%= link_to image_tag("content/projects/thumbnails/#{project.thumb_url}", :alt => project.name ), person_path(@pageuri, :anchor => project.name.downcase.gsub(/ /,'_')) %>
		
	</div>

