	<div class="work">
		<%= link_to image_tag("content/projects/thumbnails/#{project.image_url}", :alt => project.name ), project %>
		<!-- <h4 class="work_title">
			<%= link_to project.name, project %>
		</h4> -->
	</div>

